#block-liste{
  background-color: #dadada;
  padding-top: 2%;
}
#title-chapitre{
  margin-left: 4%;
    margin-right: 4%;
}
.dev{
     background-color: #dadada;
     margin-left:4%;
     margin-right:4%;
}
#liste{
  list-style: none;
  padding-left: 1%;
  padding-right: 1%;

}
#haut{
margin-top:7%;

}


#bas{
margin-top:7%;

}
  #liste li{
background-color: #fff;
padding: 2%;
margin-bottom: 2%;
color: #185A7D;
}

.liste1,.liste2,.liste3,.liste4{

margin-top:2%;
background-color:white;
text-align:center;
}
#fu{

  width:auto;
}
#re{

   background-color: #dadada;

     margin-right:4%;

}
p{
  font-size: 1em;
}

h1{
	text-align:center;
}
.left{
	float:left;
  width:auto;
}
.left1{
	float:left;
  display:inline-block;
  
}

.left2{
	float:right;

}

.right{

 
    margin-left: 24%;


}

.right1{

float:left;
}
.right2{
	float:right;
}

.ri {
  float: right;
}

.le {
  float: left;
}

.rating .stars {
  margin-right: 15px;
}

.rating .stars .star {
  float: left;
  padding: 5px 2px;
  cursor: pointer;
}

.rating .stars .star:before {
  font-family: 'FontAwesome';
  content: '\f005';
  color: #d0e8f0;
  font-size: 3em;
}

.rating .stars .star:hover:before,
.rating .stars .star.to_rate:before,
.rating .stars .star.rated:before {
  color: #80c1d5;
}

.rating .stars .star.no_to_rate:before {
  color: #d0e8f0;
}



